@charset "utf-8";

html {
    background-color: beige;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px auto auto auto;
    width: 100%;
    min-width: 320px;
    background-color: white;
    font-family: 'Muli', sans-serif;
}

h1 {
    text-align: center;
    color: #20227F;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

.logoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: 2px solid black;
}

footer {
    text-align: center;
}

.menu {
    float: left;
    width: 20%;
    text-align: center;
}

.menu a {
    background-color: rgb(43, 43, 47);
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.right {
    background-color: rgb(43, 43, 47);
    float: left;
    width: 20%;
    height: 20%;
    text-align: center;
    color: white;
}

.bottom h2 {
    text-align: center;
}

a[href^="mailto"],
[href^="tel"] {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {

    .menu,
    .main,
    .right {
        width: 100%;
    }
}