@charset "utf-8";
html {
    background-color: white;
}

body {
    margin: 0px auto auto auto;
    width: 100%;
    min-width: 320px;
    background-color: white;
    font-family: 'Muli', sans-serif;
}

h1 {
    text-align: center;
    color: #20227F;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.logoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

footer {
    text-align: center;
}

.topnav {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #20227F;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #101140;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}